pdfminer.six


numpy
pandas
joblib
pytest
fastapi==0.95.0
uvicorn==0.22.0


gunicorn
uvicorn
python-docx
jinja2
fastapi
PyPDF2
python-docx
requests
google-generativeai
scikit-learn
nltk


python-multipart